<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pocketmanager.wrapper" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PocketManager</name>
    <description>Gestor de finanzas y asesoría personal.</description>
    <author email="agonzalo@ejemplo.com" href="https://alejandrogonzalobarroso.github.io">Alejandro Gonzalo</author>
    
    <!-- PUNTO DE ENTRADA -->
    <content src="index.html" />
    
    <!-- PERMISOS DE RED AGRESIVOS (Para evitar bloqueos) -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
    <!-- CONFIGURACIÓN ANDROID -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="portrait" />
        <preference name="StatusBarBackgroundColor" value="#4f46e5" />
        
        <!-- IMPORTANTE: Permitir tráfico mixto y cookies para Supabase -->
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="MixedContentMode" value="0" />
    </platform>
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="~5.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
</widget>
